.git
.github
.idea
bin
backend/build/bin
backend/build/linux/package
backend/build/windows/dist
backend/build/windows/installer/resources/ffmpeg.exe
backend/frontend/dist
frontend/node_modules
frontend/dist
downloads
